<div class="text-center animated fadeIn" >

	<div *ngIf="resultado > 0 && casoEspecialPBaja37A == false">

		<h3>Si aplicasemos la norma que tendrá vigencia a partir de 2022, que será la que usted tenga cuando se jubile, tendrá una reducción de su pensión de:</h3>

		<h1><span class="badge badge-danger">{{resultado | currency:'EUR':true}}</span></h1>

	</div>

	<div *ngIf="resultado < 0 && casoEspecialPBaja37A == false">
		<h3>Como usted no llega a la cuantía mínima, el cambio de norma de 2022 no le va a afectar</h3>
		<h3>Su ganancia seguirá siendo de:</h3>
		<h1><span class="badge badge-success">{{resultadoAbs | currency:'EUR':true}}</span></h1>
	</div>

	<div *ngIf="resultado == 0 && casoEspecialPBaja37A == false">
		<h3>Como usted ha trabajado 37 años, usted cobrará el <span class="badge badge-success">100%</span> de su pensión</h3>
		<h1><span class="badge badge-primary">{{pensionLimCN | currency:'EUR':true}}</span></h1>
	</div>

	<div *ngIf="casoEspecialPBaja37A == true">
		<h3>Como su pensión se eleva a la mínima legal y ha trabajado 37 años, a usted el cambio de norma no le afectará</h3>
		<h3>Usted cobrará su pensión mínima de:</h3>
		<h1><span class="badge badge-primary">{{pensionLimCN | currency:'EUR':true}}</span></h1>
	</div>

	<hr>
	<button class="btn btn-primary btn-lg" [routerLink]="['/paso9']">Siguiente</button>
</div>