<div class="row">
  <div class="col-md-12">

    <table class="table">
      <tr>
        <th></th><th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td><b>{{d.label}}</b></td><td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j] | currency:'EUR':true}}</td>
      </tr>
    </table>
  </div>


  <div class="col-md-12">
    <div style="display: block;">
    <canvas baseChart width="600" height="200"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                ></canvas>
    </div>
  </div>
  
</div>