<div id="header" class="jumbotron jumbotron-fluid text-center animated fadeIn">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2><small class="text-sm-center">Edgar Martín Galán</small></h2>
			</div>
			<div class="col-md-6">
				
				<h2><small class="text-right text-sm-center">Tutores: José Manuel Feria y Enrique Jiménez</small></h2>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-3 push-3 col-sm-2 push-sm-0">
				<img src="assets/img/upo.png" class="img-fluid">
			</div>
			<div class="col-3 push-3 col-sm-2 push-sm-0">
				<img src="assets/img/finanzas.jpg" class="img-fluid">
			</div>
			<div class="col-sm-8 text-center text-md-left">
				<h1>EducoPension</h1>
				<p>(Esto es meramente orientativo, con el fin de un aprendizaje metodológico)</p>
			</div>
		</div>

	</div>
</div>