<div class="text-center animated fadeIn">
	<div class="row">
		<div class="col-md-6 text-left">
			<h2><small>Edgar Martín Galán</small></h2>
		</div>
		<div class="col-md-6 text-right">
			<br><h6>Tutores: Jose Manuel Feria y Enrique Jiménez</h6>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-6 col-sm-2">
			<img src="assets/img/upo.png" class="img-fluid">
		</div>
		<div class="col-6 col-sm-2">
			<img src="assets/img/finanzas.jpg" class="img-fluid">
		</div>
		<div class="col-sm-8 text-center text-md-left">
			<h1>Aprendizaje sobre la reforma de las pensiones</h1>
			<p>(Esto es meramente orientativo, con el fin de un aprendizaje metodológico)</p>
		</div>
	</div>
	<hr>

</div>