<div class="text-center animated fadeIn">


	<h4> La Seguridad social necesita ingresar lo mismo que gasta y esta es la situación actual:</h4>
	<div class="row">
		<div class="col-md-4 push-md-2">
		<img src="assets/img/INGRESOSGASTOS.png" alt="" class="img-fluid">
		</div>
		<div class="col-md-4 push-md-2">
		<br>
		<br>
			<h4>Como se está agotando la "hucha", se podrían tomar muchas medidas, por ejemplo, recortando gastos y bajando las pensiones en</h4>
			<h3><span class="badge badge-primary">{{500 | currency:'EUR':true}}</span></h3>
		</div>
	</div>


	<br/>

	<div *ngIf="perdidaPoderPensionMax == 0">

		<h3>A usted no le afectaría esta norma debido a que la cuantía de su pensión no superaría la nueva limitación</h3>

	</div>

	<div *ngIf="perdidaPoderPensionMax > 0">

		<h3>A usted le afectaría esta norma reduciendo su pensión en:</h3>
		<h1><span class="badge badge-danger">{{perdidaPoderPensionMax | currency:'EUR':true}}</span></h1>

		<h3>Esto se traduce en una pérdida de poder adquisitivo de <span class="badge badge-danger">{{porcentajePerdida | number : '1.2-2'}}%</span></h3>

	</div>

	<hr>
	<button class="btn btn-primary btn-lg" [routerLink]="['/paso11']">Siguiente</button>
</div>