<div class=" text-center animated fadeIn">

  <h3>¿Qué sueldo le gustaría o cree que percibirá hasta su jubilación?</h3>

  <form novalidate="" (ngSubmit)="siguiente(formulario)" #formulario="ngForm">

    <div class="form-group col-md-6 push-md-3 text-center">
      <div class="form-group" [ngClass]="{'has-danger': sueldoinput.touched && sueldoinput.errors?.required}">

        <input 
        type="number" 
        class="form-control form-control-lg text-center" 
        name="sueldo" 
        id="sueldo" 
        min=0
        required
        placeholder="Pon tu sueldo aqui"
        [(ngModel)]="sueldo"
        #sueldoinput="ngModel">
        <div class="form-control-feedback" *ngIf="sueldoinput.touched && sueldoinput.errors?.required" >
          &times; <b>Falta poner el sueldo requerido</b>
        </div>

      </div>
      <div class="form-group" [ngClass]="{'has-danger': anyosinput.touched && (anyosinput.value > 37 || anyosinput.errors?.required)}">
        <input 
        type="number" 
        class="form-control form-control-lg text-center" 
        name="anyosCotizados" 
        id="anyosCotizados" 
        placeholder="Años Cotizados aqui"
        min="0"
        max="37"
        required
        [(ngModel)]="anyosCotizados"
        #anyosinput="ngModel">

        <div class="form-control-feedback" *ngIf="anyosinput.touched && anyosinput.value > 37">
          &times; <b>Como máximo puedes cotizar 37 años</b>
        </div>

        <div class="form-control-feedback" *ngIf="anyosinput.touched && anyosinput.errors?.required">
          &times; <b>Falta poner los años que has cotizado</b>
        </div>
      </div>


      

      


      <button class="btn btn-primary btn-lg" type="submit" [disabled]="!formulario.valid">Siguiente</button>

    </div>

  </form>