<div class="text-center animated fadeIn">

<div *ngIf="gananciaPoder == false">

	<h3>Como usted percibe una pension bastante alta, la Seguridad Social le limita la cuantía de su pension a la máxima establecida de:</h3>

</div>

<div *ngIf="gananciaPoder == true">

	<h3>Como usted percibe una pension bastante baja, la Seguridad Social le aumenta la cuantía a la mínima establecida de:</h3>

</div>

<h1><span class="badge badge-primary">{{pensionLim2013 | currency:'EUR':true}}</span></h1>

<hr>
<button class="btn btn-primary btn-lg" [routerLink]="['/paso5']">Siguiente</button>
</div>