<div class="text-center animated fadeIn">

<h3>¿Cree que ha perdido poder adquisitivo?</h3>
<h4>Imagínese que tiene unos gastos en su cesta de consumo (vivienda, luz, agua, gas comida...) de un 80% de su pensión.</h4>

<div class="row">
	<div class="col-md-3 push-md-3 text-center">
		<h2>Pensión:<br>
			<span class="badge badge-primary">
				{{pension | currency:'EUR':true}}
			</span>
		</h2>
	</div>
	<div class="col-md-3 push-md-3 text-center">
		<h2>Gasto:<br>
			<span class="badge badge-danger">
				{{pension * 0.8 | currency:'EUR':true}}
			</span>
		</h2>
	</div>
</div>
<hr>
<button class="btn btn-primary btn-lg" [routerLink]="['/paso12']">Siguiente</button>
</div>